<ul>
  {{#each this}}
    <li>
        <img src="https://image.tmdb.org/t/p/w200{{this.poster_path}}">
        <p>{{title}}{{#unless title}}{{original_name}}{{/unless}}</p>
        <p>{{#each
            }}{{/each}}</p>
    </li>
  {{/each}}
</ul>