<header>
  <div>
    <div>
      <svg>
        <path></path>
      </svg>
      <h1>Filmoteka</h1>
    </div>
    <ul>
      <li><a data-action="Home">Home</a></li>
      <li><a data-action="Library" s>Library</a></li>
    </ul>
  </div>
  <div class="header-content">
    <div data-serch="movie">
      <input type="text" placeholder="Movie search..." name="movieName" />
      <button id="searchMovieByName">
        <svg>
          <path></path>
        </svg>
      </button>
    </div>
    <div style="display: none" class="library-controls" id="library-controls">
      <button type="button" data-action="watched">WATCHED</button>
      <button type="button" data-action="queue">QUEUE</button>
    </div>
  </div>
</header>
