<div class="backdrop-auth" data-modal>
  <div class="modal-auth">
    <button data-modal="close-auth" class="close-auth">✖</button>
    <div class="modal-content-auth">
      <form class="form login-form">
        <h2 class="form-title">Log in</h2>
        <input
          class="form-input"
          type="email"
          id="login-email"
          placeholder="Enter your email"
          required
        />
        <input
          class="form-input"
          type="password"
          id="login-password"
          placeholder="Enter your password"
          required
        />
        <button type="submit" class="form-btn">Log in</button>
        <p class="form-change">
          Not registered yet?
          <a class="form-link" href="#" id="switch-to-signup">Sign up</a>
        </p>
      </form>

      <form class="form singup-form">
        <h2 class="form-title">Sign up</h2>
        <input
          class="form-input"
          type="email"
          id="signup-email"
          placeholder="Enter your email"
          required
        />
        <input
          class="form-input"
          type="password"
          id="signup-password"
          placeholder="Enter your password"
          required
        />
        <button type="submit" class="form-btn">Sign up</button>
        <p class="form-change">
          Already have an account?
          <a class="form-link" href="#" id="switch-to-login">Log in</a>
        </p>
      </form>
    </div>
  </div>
</div>
