@use './variables' as *;
.page-button {
  color: $text-dark;
  font-size: 12px;
  border-radius: 5px;
  background-color: $text-white;
  cursor: pointer;
  @media (min-width: 1024px) {
    padding: 13px 16px;
  }

  @media (max-width: 1023px) and (min-width: 768px) {
    padding: 13px 16px;
  }

  @media (max-width: 767px) {
    padding: 8px 11px;

  }

  &.is-active-btn {
    color: $text-white;
    border-color: transparent;
    background-color: $primary-color;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.ellipsis {
  color: $text-dark;
}
