// Основные цвета
$background-footer: #f7f7f7;
$primary-color: #ff6b08;
$active-button: #ff6b01;
$secondary-color: #ff001b;

// Цвета текста
$text-dark: #000000;
$text-light: #545454;
$text-white: #ffffff;

//BUTTONS
$btn-radius: 5px;
$btn-padding: 14px;
$btn-font-size: 12px;
